 *{
       /* border: 2px solid red; */
      box-sizing: border-box;

}

       
       


body
{
       border:inset 5px  rgb(194, 194, 194);
       background-image: url(bcimage.png);    
}
#pic
{      
       width: 10%;
       border:inset 4px  rgb(194, 194, 194);
       border-radius: 33%;
       margin-top: 20px;
       margin-left: 25px;
       margin-right: 50px; 
}
#link{
       position: absolute;
       left: 91%;
       bottom: 71%;
       

}
div+div{
       margin-left: 10px;
}
.bar
{
       
       border-left: 25px solid rgb(112, 112, 112);
       border-style: inset;
       height:500px;
       position:fixed;
       left: 50%;
       margin-left: -30px;
       top: 205px;

}
span{
       font-size: 20px;
       font-weight: bold;
       display: inline-block;
       position: relative; bottom:30px;
       margin-left:-43px;
       padding-bottom: 3px;
       line-height: 15px;
}
#aboutme{

       position: absolute;left:8px;right:53%; top: 210px;
       font-size: 24px ;
       border-radius: 16%;
       padding-left: 10px;
       background-color: rgba(155, 155, 155, 0.582);

    
}
ol{
       position:relative;left: 2%;
       
}
#edu{
       position:absolute; left: 49%;
       font-size: 28px;
       border-radius: 16%;
       padding-left: 20px;
       padding-right: 265px;
       background-color: rgba(155, 155, 155, 0.582);
       top: 32%;
       
       
}


